.pic {
    width: 100%;
}

.img1 {
    padding: auto;
    position: relative;
    width: 100%;
    height: 559px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    background: #82141A;
    width: auto;
    height: 5rem;
    flex-shrink: 0;
    display: flex;
    padding: 1px 0px 1px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #F3F6FC;
    border-left: 1px solid #F3F6FC;
    left: 5rem;
    margin-bottom: 137.8rem;
}

.navbar1 {
    height: 5rem;
    width: 350px;
    flex-shrink: 0;
    margin-bottom: 1rem;
    margin-right: -20px;
}

.navbar2 {
    display: flex;
    width: 1px;
    padding: 0px 27px;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #F3F6FC;
    height: 100%;
}

.navbar3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    width: auto;
    right: 50px;
}

.nav {
    position: absolute;
    display: inline-flex;
    width: 466.02px;
    height: 74px;
    padding-left: 32.33px;
    padding-right: 35.84px;
    justify-content: center;
    align-items: flex-start;
    gap: 64.38px;
    margin-bottom: 135rem;
    left: 30rem;
    margin-left: 55rem;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase
}

.txt {
    margin-bottom: 120rem;
    margin-right: 104rem;
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.txt1 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    text-align: center;
    color: #f8f8f8;
}

.arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -970px auto 0;
    margin-right: -100px;
    position: relative;


}

.arrow img {
    width: 30px;
    height: 30px;
}

.arrow::before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border-radius: 40rem;
    z-index: 1;
    border: 1px solid #FFF;
}

.bottom-element {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 1;
    text-align: center;
    z-index: 1;
    margin-left: 0.5rem;
    margin-bottom: 5.2rem;
}

.Metlife {
    width: 150px;
    height: 96.5px;
    padding-top: 40.9px;
    padding-bottom: 5px;
    padding-left: 36px;
    padding-right: 88px;
    background: white;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    margin-left: 5rem;
    margin-bottom: 5.2rem;
    position: absolute;
    bottom: 0;
}

.int {
    position: absolute;
    width: 500px;
    height: 277.19px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-top: -9.5rem;
}

.button {
    display: flex;
    margin-top: 21.7rem;
    margin-left: 3rem;
    width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #82141A;
}

.button button {
    padding: 2x;
}

.clients {
    background-color: #82141A;
    width: 700px;
    height: 218px;
    margin-top: -4rem;
    margin-left: 8rem;
}

.colorclient {
    color: #FFF;
    display: flex;
    height: 150px;
    width: 500px;
    margin-right: 30rem;
    align-items: center;
    gap: 50px;
    margin-left: 5rem;
    font-size: 1.5rem;

}

.wedo {
    width: 297.09px;
    height: 55.19px;
    justify-content: center;
    align-items: center;
    color: #090B19;
    font-size: 48px;
    font-family: Inter;
    font-weight: 600;
    line-height: 55.20px;
    word-wrap: break-word;
    margin-top: 3rem;
    margin-left: 7rem;
}

.view {
    width: 150px; 
    height: 54px; 
    padding-left: 30px; 
    padding-right: 30px; 
    background: #82141A; 
    border-radius: 100px;
    margin-left: 90rem; 
    margin-bottom: 15rem;
}